.App {
  text-align: center;
  height: 100%;
}

#root{
  height: 100%;
}

.App-header {
opacity: .8;
font-size: 8em;
}

.Word {
  font-size: 4em;
  opacity: .75;
  cursor: pointer;
  position: absolute;

}

.counter {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
}
